<footer class="footer text-center fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class=""> 
                	<a href="{{ url('homepage.index') }}">Home</a> - 
                	<a href="{{ url('contact.index') }}">Contact</a> - 
                	<a href="{{ url('discovery.index') }}">Découvertes</a>
                </span>
            </div>
        </div>
    </div>
</footer>